.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}
.dialog {
color: aliceblue;

}

.dialogsItems {
    padding: 10px;

}

.dialogsItems .active {
    color: gold;

}

.messages {
    padding: 10px;
 

}

.messages .message {


}
.imput {
    padding-top: 20px;

}